body {
  background-color: rgb(190, 248, 216);
}

.jumbotron {
  background-image: url("../img/marble.png");
  background-position: right;
}

.tool {
  float: right;
  margin: 30px;
  border:rgb(102, 47, 47) 15px solid;
  padding: 2px
}